<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <h1>Edit Entry:</h1>
                    </div>
                </div>
                <br>
                <form action="/collection/<%=record._id %>?_method=PUT" method="POST">
                    <div class="container">
                        <div class="row">
                            <div class="col auto">
                                <label for="artistName">Artist Name:</label>
                            </div>
                            <div class="col auto">
                                <input class="form-control" name="artistName" id="artistName" type="text"
                                    placeholder="<%= record.artistName %>" value="<%= record.artistName %>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col auto">
                                <label for="albumName">Album Name:</label>
                            </div>
                            <div class="col auto">
                                <input class="form-control" name="albumName" id="albumName" type="text"
                                    placeholder="<%= record.albumName %>" value="<%= record.albumName %>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col auto">
                                <label for="genre">Genre:</label>
                            </div>
                            <div class="col auto">
                                <input class="form-control" name="genre" id="genre" type="text"
                                    placeholder="<%= record.genre %>" value="<%= record.genre %>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col auto">
                                <select class="form-select" name="rating" id="rating">
                                    <option selected>
                                        Rating
                                    </option>
                                    <option value=10>10</option>
                                    <option value=9>9</option>
                                    <option value=8>8</option>
                                    <option value=7>7</option>
                                    <option value=6>6</option>
                                    <option value=5>5</option>
                                    <option value=4>4</option>
                                    <option value=3>3</option>
                                    <option value=2>2</option>
                                    <option value=1>1</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col auto">
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </main>
    <div>
        <a href="/collection">Cancel</a>
    </div>

</body>

</html>

</html>