<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <main>
        <div class="jumbotron bg-image" style="background-image:
                    url('https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
                    height: 750px;">
            <header>
                <%- include('../partials/header'); %>
            </header>
            <div class="container">
                <div class="row">
                    <h2 class="ml-4 mb-3" style="color: #656965">Best Albums</h2>
                </div>
                <div class="row">
                    <ul class="ml-2" style="color: #656965">
                        <% for (let record of records) { %>
                        <% if (record.rating>= 8) { %>
                        <li>
                            <a style="color: #86636B" href="/viewInfo/<%= record._id %>">
                                <%= record.albumName %>
                            </a>
                            by
                            <% for (let i=0; i < artists.length; i++) { %>
                            <% if (record.artistName==artists[i].name) { %>
                            <a style="color: #86636B" href="/showArtist/<%= artists[i]._id %>">
                                <%= artists[i].name %>
                            </a>
                            <% } %>
                            <% } %>
                            : <%= record.rating %>/10
                            <% } %>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

</body>

</html>