<% layout("partials/boilerplate") %>

<body class="container">
    <div class="container">
        <div class="row">
            <h2 class="ml-4 mb-3" style="color: #f3f4f2">Edit Album Info</h2>
        </div>
        <!-- Here we are making sure that we disable the default browser validation for our form and enable the
                bootstrap client-side validation -->
        <form action="/collection/<%=record._id %>?_method=PUT" method="POST" class="validated-form" novalidate>
            <div class="container" style="color: #f3f4f2">
                <div class="row">
                    <div class="ml-2 mb-2">
                        <label for="artistName" class="form-label">Artist Name</label>
                        <input name="artistName" type="text" class="form-control" id="artistName" placeholder=""
                            value="<%= record.artistName %>" required>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-2 mb-2">
                        <label for="albumName" class="form-label">Album Name</label>
                        <input name="albumName" type="text" class="form-control" id="albumName" placeholder=""
                            value="<%= record.albumName %>" required>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-2 mb-3">
                        <label for="genre" class="form-label">Genre</label>
                        <input name="genre" type="text" class="form-control" id="genre" placeholder=""
                            value="<%= record.genre %>" required>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-2 mb-1">
                        <label for="rating" class="form-label">Rating</label>
                        <div>
                            <input type="range" style="width: 13rem" class="form-range" min="1" max="10" name="rating"
                                id="rating" value="<%= record.rating %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-4 ml-2">
                        <button type="submit" class="btn btn-outline-warning">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--This script allows us to create our client-side form validations in the "edit" and "new" .ejs 
                files. We just copied and pasted this from the bootstrap docs.-->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')
            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

</body>